<!-- Float over ThreeJS -->
<div style="position:absolute;">

  <!-- Checkboxes for parts -->
  <h5>Select parts to configure:</h5>
  <p *ngFor="let part of configuration.parts, let i=index" class="custom-control custom-checkbox">
    <input [(ngModel)]="partsSelected[i]" type="checkbox" name="i" class="form-check-input" id="alumniSwitch">
    <label class="form-check-label" for="invalidCheck2">{{part.geometry}}</label>
  </p>

  <!-- List of Configuration Inputs -->
  <div *ngFor="let config of configuration.configurationInputs, let i=index" class="mb-0">
    <h5>Config {{config.name}}:</h5>
    <!-- List Values of each Configuration Input -->
    <select class="custom-select" (change)="updateConfiguration(config.type, $event.target.value)">
      <option *ngFor="let value of config.values, let j=index" [selected]="(j==0)" [value]="value.code">{{value.label}}</option>
    </select>
  </div>

  <!-- <div *ngFor="let part of configuration.parts, let i=index">
    <h5>{{part.geometry}}: {{partsCode[i]}}</h5>
  </div> -->

</div>
